.movie {
  flex: 1;
  box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.242);
}

.movie:last-child {
  flex: 0 0 49%; /* not 50% because of gap */
}

.image {
  width: 180px;
  height: 280px;
  background-color: antiquewhite;
}

.info {
  flex: 1 0;
  min-width: 270px;
}
